@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0a192f;
  -webkit-font-smoothing: antialiased;
}
/* Scrollbar Styles */
html {
  scrollbar-width: thin;
  scrollbar-color: #8892b0 #0a192f;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--navy);
}
::-webkit-scrollbar-thumb {
  background-color: #8892b0;
  border: 3px solid #0a192f;
  border-radius: 10px;
}

.arrow-btn {
  @apply w-12 h-8 bg-navy-dark rounded-lg mx-auto text-white flex justify-center items-center;
}
/* button get resume styles  */
.btn-getResume {
  --color: #64ffda;
  padding: 0.4em 0.8em;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.4s;
  font-weight: 400;
  border: 1px solid;
  color: var(--color);
  z-index: 1;
}

.btn-getResume::before,
.btn-getResume::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 0.5s ease;
}

.btn-getResume::before {
  top: -1em;
  left: -1em;
}

.btn-getResume::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.btn-getResume:hover::before,
.btn-getResume:hover::after {
  height: 410px;
  width: 410px;
}

.btn-getResume:hover {
  color: #0a192f;
}

.btn-getResume:active {
  filter: brightness(0.8);
}

/* another button  */
.btn-getResume2 {
  --green: #64ffda;
  font-size: 15px;

  letter-spacing: 0.06em;

  font-family: inherit;
  border-radius: 0.4em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 1px solid var(--green);
  background: linear-gradient(
    to right,
    rgba(27, 253, 156, 0.1) 1%,
    transparent 40%,
    transparent 60%,
    rgba(27, 253, 156, 0.1) 100%
  );
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4),
    0 0 9px 3px rgba(27, 253, 156, 0.1);
}

.btn-getResume2:hover {
  color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6),
    0 0 9px 3px rgba(27, 253, 156, 0.2);
}

.btn-getResume2:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform 0.4s ease-in-out;
  background: linear-gradient(
    to right,
    transparent 1%,
    rgba(27, 253, 156, 0.1) 40%,
    rgba(27, 253, 156, 0.1) 60%,
    transparent 100%
  );
}

.btn-getResume2:hover:before {
  transform: translateX(15em);
}
