@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-p2 overflow-hidden;
}

.menu_nav-items {
  @apply flex items-center  h-full;
}
.menu_nav-items li {
  @apply w-[150px] border-r border-p4 h-full flex justify-center items-center hover:text-white transition-all;
}
.category input[type="checkbox"] {
  @apply w-5 h-5 mr-2;
}
.contact-form input {
  @apply md:w-[23rem] w-[20rem]  h-10 bg-p3 rounded-lg px-3 py-4 outline-none border border-p4 mt-2 transition-all;
}

.contact-form input:focus,
.contact-form textarea:focus {
  box-shadow: 0px 0px 0px 2px rgba(96, 123, 150, 0.3);
}
.arrow-btn {
  @apply w-12 h-8 bg-p1 rounded-lg mx-auto text-white flex justify-center items-center;
}
.responsive-menu {
  @apply bg-p2;
}
.responsive-menu li {
  @apply border-b border-p4 text-xl h-16 flex justify-center items-center;
}
[data-aos] {
  pointer-events: none;
}
.aos-animate {
  pointer-events: auto;
}
.aos-init[data-aos][data-aos].aos-animate {
  transform: unset;
}

/* [data-aos] {
  z-index: 1;
  pointer-events: none;
  &.aos-animate {
    pointer-events: auto;
  }
} */

.image-gallery-image {
  @apply rounded-t-xl;
}

.vertical-timeline::before {
  @apply w-[2px] bg-p4;
}
.vertical-timeline-element-content {
  -webkit-box-shadow: 0 3px 0 #1e2d3d;
  box-shadow: 0 3px 0 #1e2d3d;
  background: transparent;
  border: 1px solid #1e2d3d;
  padding: 1rem 1rem 0;
}
.vertical-timeline-element-icon {
  @apply ring ring-p4;
}
@media only screen and (min-width: 1170px) {
  .vertical-timeline-element {
    margin: 0.8rem 0;
  }
}
/* ----------------------- */
.content-container {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.content-container::-webkit-scrollbar {
  width: 6px;
}

.content-container::-webkit-scrollbar-track {
  background: transparent;
}

.content-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.animate-content {
  background-image: radial-gradient(at 27% 37%, #3a8bfd 0, transparent 0),
    radial-gradient(at 97% 21%, #72fe7d 0, transparent 50%),
    radial-gradient(at 52% 99%, #fd3a4e 0, transparent 50%),
    radial-gradient(at 10% 29%, #855afc 0, transparent 50%),
    radial-gradient(at 97% 96%, #e4c795 0, transparent 50%),
    radial-gradient(at 33% 50%, #8ca8e8 0, transparent 50%),
    radial-gradient(at 79% 53%, #eea5ba 0, transparent 50%);
  filter: blur(100px) saturate(150%);
  opacity: 0.1;
  background-attachment: fixed;
  position: fixed;
  top: 50%;
  left: 50%;
  transform-origin: top left;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 50vh;
  position: absolute;
}
.animate-rotate {
  -webkit-animation: rotate 70s ease-in-out infinite;
  animation: rotate 20s ease-in-out infinite;
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 1turn;
  }
}
