@tailwind base;
@tailwind components;
@tailwind utilities;
/* global.css or tailwind.config.js */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

body {
  background-color: #0a192f;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  overflow-y: auto; /* Ensure vertical scrolling */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; /* Optional for smoother scrolling */
}
/* Scrollbar Styles */
html {
  scrollbar-width: thin;
  scrollbar-color: #8892b0 #0a192f;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--navy);
}
::-webkit-scrollbar-thumb {
  background-color: #8892b0;
  border: 3px solid #0a192f;
  border-radius: 10px;
}
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
/* loading style css  */
.loading svg polyline {
  fill: none;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.loading svg polyline#back {
  fill: none;
  stroke: #ff4d5033;
}

.loading svg polyline#front {
  fill: none;
  stroke: #ff4d4f;
  stroke-dasharray: 48, 144;
  stroke-dashoffset: 192;
  animation: dash_682 1.4s linear infinite;
}

@keyframes dash_682 {
  72.5% {
    opacity: 0;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.mobileSectionHead {
  /* background: rgba(255, 255, 255, 0.2); */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
}
.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 52px !important;
  width: 32px !important;
}
/* global.css */
.custom-scroll::-webkit-scrollbar {
  display: none; /* Hide scrollbar for webkit-based browsers */
}

.hovered-text {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: #e2e8f0;
  transition: border-bottom 0.3s ease; /* Transition for border-bottom */
}

.hovered-text2 {
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: border-bottom 0.3s ease; /* Transition for border-bottom */
}

.hovered-text::after,
.hovered-text2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #64ffda;
  transition: width 0.3s ease; /* Transition for width */
}

.hovered-text:hover::after,
.hovered-text2:hover::after {
  width: 100%; /* Expand width to 100% on hover */
  animation: slideRight 0.3s ease; /* Animate from left to right */
}

/* another button  */
.btn-getResume2 {
  --green: #64ffda;
  letter-spacing: 0.06em;
  font-family: inherit;
  border-radius: 0.4em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 1px solid var(--green);
  background: linear-gradient(
    to right,
    rgba(27, 253, 156, 0.1) 1%,
    transparent 40%,
    transparent 60%,
    rgba(27, 253, 156, 0.1) 100%
  );
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4),
    0 0 9px 3px rgba(27, 253, 156, 0.1);
}

.btn-getResume2:hover {
  color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6),
    0 0 9px 3px rgba(27, 253, 156, 0.2);
}

.btn-getResume2:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform 0.4s ease-in-out;
  background: linear-gradient(
    to right,
    transparent 1%,
    rgba(27, 253, 156, 0.1) 40%,
    rgba(27, 253, 156, 0.1) 60%,
    transparent 100%
  );
}

.btn-getResume2:hover:before {
  transform: translateX(15em);
}
